---
import { Button } from '../ui/button'

const { href, title, body } = Astro.props
---

<div class="flex align-middle">
    <Button variant="link">About me</Button>
    <Button variant="link">Skill</Button>
    <Button variant="link">Tools</Button>
</div>

<style>
    .custom {
    }
</style>
